Package                 Current   Wanted  Latest  Location                             Depended by
@babel/core             7.18.13  7.18.13  7.21.4  node_modules/@babel/core             url-by-string
@babel/preset-env       7.18.10  7.18.10  7.21.4  node_modules/@babel/preset-env       url-by-string
babel-jest               29.0.1   29.0.1  29.5.0  node_modules/babel-jest              url-by-string
jest                     29.0.1   29.0.1  29.5.0  node_modules/jest                    url-by-string
jest-environment-jsdom   29.0.1   29.0.1  29.5.0  node_modules/jest-environment-jsdom  url-by-string
parcel                    2.7.0    2.7.0   2.8.3  node_modules/parcel                  url-by-string
